.events-list-wrapper {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-list-wrapper form input {
  text-align: center;
  width: 11em;
}
