.event-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.event-page-wrapper img {
  width: 20vw;
  margin: 1em 0;
}

.event-page-wrapper .event {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.event .startdate {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 1em 0;
}

.event .eventlink {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 1em 0;
}

.event .tickets {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.event .tickets a,
.event .eventlink a {
  border: 1px solid black;
  padding: .4em;
  background-color: rgb(90, 179, 149);
  color: white;
  border-radius: 5px;
  transition: all ease .5s;
}

.event .tickets a:hover,
.event .eventlink a:hover {
  box-shadow: 0 0 10px 2px rgb(7, 66, 44);
  color: black;
}

.ticket-header {
  width: 100%;
}
